.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



{
      //   listId : "22222",
      //   listTitle : "happyBirth day",
      //   listAuthor : "Juno",
      // }, 
      // {
      //   listId : "1111",
      //   listTitle : "happyBirth22 day",
      //   listAuthor : "Ju232323no",
      // }, 
      // {
      //   listId : "22222",
      //   listTitle : "happyBirth day",
      //   listAuthor : "Juno",
      // }, 
      // {
      //   listId : "1111",
      //   listTitle : "happyBirth22 day",
      //   listAuthor : "Ju232323no",
      // }, 



      // v-for="dropdown in dropdowns"
      // :key="dropdown.title"
      // class="list-item">
      // <RouterLink
      //   :to="dropdown.link">
      //   {{ dropdown.title }}
      // </RouterLink>


      // {
      //       title3: "Register",
      //       link: "#"
      //   },
      //   {
      //       title4: "ChangePW",
      //       link: "#"
      //   },